@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --half_gutter: 30px;
  --modal_margin: 15px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

ul, li, menu{
  list-style: none;
}

/* Layout */

body{
  background-color: #1C2D3C;
  color: white;
  font-family: "Poppins", sans-serif;
  position: relative;
  height: 100vh;
}

#App{
  /* position: relative; */
}

.container{
  max-width: 1097px;
  margin: 30px auto;
}

.col-4{
  width: calc(100% / 12 * 4);
}

.row{
  display: flex;
  flex-wrap: wrap;
  margin-right: - var(--half_gutter);
  margin-left: - var(--half_gutter);
}

/* HEADER */

header{
  padding: 17px 110px;
  background-color: #06131F;
}

header .spotify-logo svg{
  height: 40px;
}

/* MAIN */

.card{
  padding: var(--half_gutter);
  /* position: relative; */
  cursor: pointer;
}

.card .card-album{
  height: 330px;
  background-color: #112030;
  border-radius: 5px;
  padding: 18px;
}

.card > .card-album:hover{
  border: 1px solid #20D760;
}

.card-album{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: relative; */
}

.card-album img{
  width: 185px;
  aspect-ratio: 1/1;
}

.card-album .album-name{
  font-size: 15px;
  margin-top: 11px;
}

.card-album .album-artist{
  font-size: 10px;
  margin-top: 16px;
}

.card-album .album-year{
  font-size: 13px;
  margin-top: 16px;
}

/* modal */

.modal{
  background-color: #112030;
  margin: var(--modal_margin);
  width: calc(100% - (var(--modal_margin)*2));
  height: calc(100% - (var(--modal_margin)*2));
  top: 0;
  left: 0;
  z-index: 2;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  /* transform: translate(0, 0); */
}

.modal .card-album img{
  width: 355px;
  aspect-ratio: 1/1;
}
.modal .modal-close{
  height: 40px;
  aspect-ratio: 1/1;
  border-radius: 4px;
  border: 1px #d3d3d3 solid;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.modal .modal-close:hover{
  border: none;
  background-color: #d3d3d3;
  color: black;
}

.modal.active{
  visibility: visible;
}